{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<main>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next and user.is_authenticated %}
    <p class="vertical-separation-large">
        Your account ({{ user.username }}) doesn't have access to this page.
        Please login with an account that has access.
    </p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="vertical-separation-large">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.username.errors }}
            <label for="id_username"><b>Username</b></label>
            {{ form.username }}
        </div>
        <div>
            {{ form.password.errors }}
            <label for="id_password"><b>Password</b></label>
            {{ form.password }}
        </div>
        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Login" class="anorum-button">
    </form>

    <p class="font-size-medium">
        Don't have an account?
        {% if next %}
        <a href="{% url 'register' %}?next={{ next }}">Register here</a>.
        {% else %}
        <a href="{% url 'register' %}">Register here</a>.
        {% endif %}
    </p>
</main>
{% endblock %}
