{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<main>
    {% if next and user.is_authenticated %}
    <div class="error vertical-separation-large">
        <p>
            Your account ({{ user.username }}) doesn't have access to this page.
            Please login with an account that has access.
        </p>
    </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}" class="vertical-separation-large">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="error vertical-separation-medium">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div>
            <div class="vertical-separation-small">
                <label for="id_username"><b>Username</b></label>
            </div>

            {% if form.username.errors %}
            <div class="error">
                {{ form.username.errors }}
            </div>
            {% endif %}

            {{ form.username }}
        </div>
        <div>
            <div class="vertical-separation-small">
                <label for="id_password"><b>Password</b></label>
            </div>

            {% if form.password.errors %}
            <div class="error">
                {{ form.password.errors }}
            </div>
            {% endif %}

            {{ form.password }}
        </div>

        <input type="hidden" name="next" value="{{ next }}">
        <input type="submit" value="Login" class="anorum-button">
    </form>

    <p class="font-size-medium">
        Don't have an account?
        {% if next %}
        <a href="{% url 'register' %}?next={{ next }}">Register here</a>.
        {% else %}
        <a href="{% url 'register' %}">Register here</a>.
        {% endif %}
    </p>
</main>
{% endblock %}
