{% extends 'base.html' %}

{% block title %}Change your password{% endblock %}

{% block content %}
<main>
    <h1>Change your password</h1>

    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="error vertical-separation-medium">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div>
            <div class="vertical-separation-small">
                <label for="id_username"><b>Old password</b></label>
            </div>

            {% if form.old_password.errors %}
            <div class="error">
                {{ form.old_password.errors }}
            </div>
            {% endif %}

            {{ form.old_password }}
        </div>
        <div>
            <div class="vertical-separation-small">
                <label for="id_new_password1"><b>New password</b></label>
            </div>

            {% if form.new_password1.errors %}
            <div class="error">
                {{ form.new_password1.errors }}
            </div>
            {% endif %}

            {{ form.new_password1 }}
        </div>
        <div>
            <div class="vertical-separation-small">
                <label for="id_new_password2"><b>New password confirmation</b></label>
            </div>

            {% if form.new_password2.errors %}
            <div class="error">
                {{ form.new_password2.errors }}
            </div>
            {% endif %}

            {{ form.new_password2 }}
        </div>

        <input type="submit" value="Change password" class="anorum-button">
    </form>
</main>
{% endblock %}
