{% extends 'base.html' %}

{% block title %}Create forum{% endblock %}

{% block content %}
<main>
    <h1>Create forum</h1>

    <form method="post" action="{% url 'create_forum' %}" autocomplete="off">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <div class="error vertical-separation-medium">
            {{ form.non_field_errors }}
        </div>
        {% endif %}

        <div>
            <div class="vertical-separation-small">
                <label for="id_name">Name:</label>
            </div>

            {% if form.name.errors %}
            <div class="error">
                {{ form.name.errors }}
            </div>
            {% endif %}

            {{ form.name }}
        </div>
        <div>
            <div class="vertical-separation-small">
                <label for="id_description">Description:</label>
            </div>

            {% if form.description.errors %}
            <div class="error">   
                {{ form.description.errors }}
            </div>
            {% endif %}

            {{ form.description }}
        </div>

        <input type="submit" value="Create forum">
    </form>
</main>
{% endblock %}
