{% extends 'base.html' %}

{% block title %}Post #{{ parent_post.id }}{% endblock %}

{% block content %}
<main>
    <div
        class="post-container vertical-separation-medium"
        id="{{ parent_post.id }}"
    >
        <div class="post-header">
            <div class="float-left">
                <p>{{ parent_post.identity }}</p>
            </div>
            <div class="float-right">
                <p>
                    <a href="#{{ parent_post.id }}">#{{ parent_post.id }}</a>
                </p>
            </div>
        </div>
        <div class="post-content">
            <p>{{ parent_post.body | linebreaksbr | urlize }}</p>
        </div>
    </div>

    {% for post in child_posts %}
    <div
        class="post-container vertical-separation-medium"
        id="{{ post.id }}"
    >
        <div class="post-header">
            <div class="float-left">
                <p>{{ post.identity }}</p>
            </div>
            <div class="float-right">
                <p>
                    <a href="#{{ post.id }}">#{{ post.id }}</a>
                </p>
            </div>
        </div>
        <div class="post-content">
            <p>{{ post.body | linebreaksbr }}</p>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <div class="reply-box">
        <form method="post" action="{% url 'post' parent_post.id %}" autocomplete="off">
            {% csrf_token %}

            {% if form.non_field_errors %}
            <div class="error vertical-separation-medium">
                {{ form.non_field_errors }}
            </div>
            {% endif %}

            <div>
                {% if form.body.errors %}
                <div class="error vertical-separation-small">
                    {{ form.body.errors }}
                </div>
                {% endif %}

                {{ form.body }}
            </div>

            <input type="submit" value="Reply" class="anorum-button">
        </form>
    </div>
    {% else %}
    <p class="font-size-medium">
        <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
        to reply.
    </p>
    {% endif %}
</main>
{% endblock %}
