{% extends 'base.html' %}

{% block title %}Post #{{ parent_post.id }}{% endblock %}

{% block content %}
<main>
    <p><b>#{{ parent_post.id }} - {{ parent_post.identity }}</b></p>
    <p>{{ parent_post.body }}</p>

    {% for post in child_posts %}
    <div>
        <p><b>#{{ post.id }} - {{ post.identity }}</b></p>
        <p>{{ post.body }}</p>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'post' parent_post.id %}" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.body.errors }}
            {{ form.body }}
        </div>
        <input type="submit" value="Reply">
    </form>
    {% else %}
    <p>
        <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
        to reply.
    </p>
    {% endif %}
</main>
{% endblock %}
