{% extends 'base.html' %}

{% block title %}Post #{{ parent_post.id }}{% endblock %}

{% block content %}
<main>
    <div class="post-container vertical-separation-medium">
        <div class="post-header">
            <div class="float-left">
                <p>{{ parent_post.identity }}</p>
            </div>
            <div class="float-right">
                <p>#{{ parent_post.id }}</p>
            </div>
        </div>
        <div class="post-content">
            <p>{{ parent_post.body | linebreaksbr }}</p>
        </div>
    </div>

    {% for post in child_posts %}
    <div class="post-container vertical-separation-medium">
        <div class="post-header">
            <div class="float-left">
                <p>{{ post.identity }}</p>
            </div>
            <div class="float-right">
                <p>#{{ post.id }}</p>
            </div>
        </div>
        <div class="post-content">
            <p>{{ post.body | linebreaksbr }}</p>
        </div>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <form method="post" action="{% url 'post' parent_post.id %}" autocomplete="off">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {{ form.body.errors }}
            {{ form.body }}
        </div>
        <input type="submit" value="Reply" class="anorum-button">
    </form>
    {% else %}
    <p class="font-size-medium">
        <a href="{% url 'login' %}?next={{ request.path }}">Log in</a>
        to reply.
    </p>
    {% endif %}
</main>
{% endblock %}
