{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_head %}
        {% endblock %}
    </head>

    <body>
        <nav class="font-size-medium">
            <div class="float-left">
                <a href="{% url 'index' %}">anorum</a>
            </div>
            {% if not view.kwargs.hide_navbar_account %}
            <div class="float-right">
                {% if user.is_authenticated %}
                <a href="{% url 'account' %}">{{ user.username }}</a>
                {% else %}
                <a href="{% url 'login' %}">Log in</a>
                {% endif %}
            </div>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}

        <script src="{% static 'script.js' %}"></script> 
    </body>
</html>
