{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">anorum</a></li>
            </ul>
            {% if not view.kwargs.hide_navbar_account %}
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>

        {% block content %}
        {% endblock %}
    </body>
</html>
